@inject IHttpContextAccessor HttpContextAccessor

@{
    var username = HttpContextAccessor.HttpContext.Session.GetString("Username") ?? "Guest";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RentCar</title>
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
</head>
<body>

<header>
    <nav class="navbar">
        <i class="fi fi-br-menu-burger" id="hamburgermenu" onclick="toggleMenu()"></i>
        <a href="@Url.Action("HomeIn", "HomeIn")" class="navbar-brand">RentCar</a>
        <div class="user-name">
            <h4>Hi, @username!</h4>
        </div>
    </nav>
</header>


<div class="sidebar-menu" id="sidebarMenu">
    <ul>
        <li><a href="@Url.Action("HomeIn", "HomeIn")">Home</a></li>
        <li><a href="@Url.Action("History", "History")">Riwayat Pembelian</a></li>
        <li><a href="https://web.whatsapp.com/">Kontak Kami</a></li>
        <li><a href="@Url.Action("Index", "Home")">Keluar</a></li>
    </ul>
</div>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="footer">
    <div class="insidefooter">
        <h5>2024 ProyekRentCar. Semua Hak Dilindungi</h5>
    </div>
</footer>

</body>
<script>
    function toggleMenu() {
        const sidebarMenu = document.getElementById('sidebarMenu');
        sidebarMenu.classList.toggle('active');
    }
    
    document.addEventListener('click', function(event) {
        const sidebarMenu = document.getElementById('sidebarMenu');
        const hamburgerMenu = document.getElementById('hamburgermenu');

        if (sidebarMenu.classList.contains('active') && !sidebarMenu.contains(event.target) && !hamburgerMenu.contains(event.target)) {
            sidebarMenu.classList.remove('active');
        }
    });
</script>
</html>
